:root {
  --accent: #5850ec;
  --accent-bg: #f5f8ff;
  --border: #d8dae1;
  --text: #212121;
  --text-light: #585858;
  --black: #000000;
  --white: #ffffff;
}

body {
  font-size: 16px;
  grid-template-columns: 1fr min(70rem, 90%) 1fr;
}

table {
  display: inline-table !important;
  table-layout: fixed;
  margin: 0 !important;
}

.table-title {
  padding-bottom: 1rem;
}

p,
.section {
  margin-block-start: 1.5em !important;
  margin-block-end: 1.5em !important;
}

.header {
  padding: 0.5rem;
}

.brand {
  display: flex;
  justify-content: center;
  color: var(--text-light) !important;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.1;
  text-decoration: none;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.endpoint {
  display: inline-flex;
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 0.35rem 0.45rem;
}

.terminal {
  background: #2d2d2d;
  color: var(--white);
  font-size: 0.85rem;
  border-radius: 5px;
  padding: 0.35rem 0.45rem;
}

.search-box {
  background: #f3f5f7;
  border: solid 1px var(--border);
  z-index: 2;
}

.request-method.get {
  color: blue;
}

.request-method.post {
  color: darkgreen;
}

.request-method.patch {
  color: green;
}

.request-method.put {
  color: darkorange;
}

.request-method.head {
  color: purple;
}

.request-method.delete {
  color: darkred;
}

.request-method.options {
  color: darkblue;
}

.w-1\/2 {
  width: 50%;
}

.overflow-auto {
  overflow: auto;
}

.sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-light {
  color: var(--text-light) !important;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-8 {
  padding-left: 2rem;
}

.border-t {
  border-top: solid 1px var(--border);
}

.select-all {
  user-select: all;
}

.with-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted var(--border);
}

.with-tooltip .tooltip {
  visibility: hidden;
  color: var(--white);
  background: var(--black);
  opacity: 0.8;
  padding: 0.35rem 0.45rem;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.with-tooltip:hover .tooltip {
  visibility: visible;
}
