{{template "partials/header" .}}

<main>
  <form
    action="https://submit-form.com/bKTG9w9O"
    method="POST"
    style="max-width: 600px; margin: 0 auto"
  >
    <input
      type="checkbox"
      name="accept"
      style="display: none"
      tabindex="-1"
      autocomplete="off"
    />

    <p>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required aria-required="true" />
    </p>

    <p>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        aria-required="true"
      />
    </p>

    <p>
      <label for="message">Message</label>
      <textarea
        id="message"
        name="message"
        rows="6"
        required
        aria-required="true"
      ></textarea>
    </p>

    <p>
      <button type="submit" data-test="send-form">Send message</button>
    </p>
  </form>
</main>

{{template "partials/footer" .}}
