{{template "partials/header" .}}

<main x-data>
  <div class="section">
    <div class="flex items-center">
      <div>Your unique url:</div>
      <div class="endpoint select-all ml-2">{{.EndpointURL}}</div>
    </div>
  </div>

  <div class="section">
    <div class="flex items-center">
      <code class="terminal select-all">
        curl -X POST -d 'Hello World!' {{.EndpointURL}}
      </code>
      <a href="javascript:;" onclick="sendTestData()" class="text-light ml-2"
        >Send data</a
      >
    </div>
  </div>

  <div>
    <!-- No data -->
    <template x-if="$store.requests.data.length === 0">
      <div class="section">Waiting for requests...</div>
    </template>

    <!-- Some data -->
    <template x-for="request in $store.requests.data">
      <div
        class="section"
        style="padding-top: 1.5rem; border-top: solid 1px var(--border)"
      >
        <div class="flex">
          <div style="width: 50%">
            <div class="table-title">
              <b>Details</b>
            </div>
            <table>
              <tbody>
                <tr>
                  <td>Time</td>
                  <td>
                    <div class="with-tooltip">
                      <!-- TODO: re-use Date instances -->
                      <div
                        x-text="formatTimeAgo(new Date(request.createdAt))"
                      ></div>
                      <div
                        x-text="new Date(request.createdAt).toLocaleString()"
                        class="tooltip"
                      ></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Method</td>
                  <td><div x-text="request.method"></div></td>
                </tr>
                <tr>
                  <td>Path</td>
                  <td><div x-text="request.path"></div></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="width: 50%; padding-left: 2rem">
            <div class="table-title">
              <b>Headers</b>
            </div>
            <div style="max-height: 300px; overflow: auto">
              <table>
                <tbody>
                  <!-- TODO: remove JSON.parse -->
                  <template
                    x-for="[k, v] in Object.entries(JSON.parse(request.headers))"
                  >
                    <tr>
                      <td>
                        <a
                          :href="`https://www.google.com/search?q=${k}+Header`"
                          target="_blank"
                          x-text="k"
                          class="text-light"
                        ></a>
                      </td>
                      <td>
                        <div
                          x-text="v"
                          class="truncate"
                          style="max-width: 250px"
                        ></div>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div>
          <b>Body</b>
          <pre x-text="formatBody(request.body)"></pre>
        </div>
      </div>
    </template>
  </div>
</main>

{{template "partials/footer" .}}

<script>
  document.addEventListener("alpine:init", () => {
    Alpine.store("requests", {
      init() {
        fetch("/api/endpoints/{{.EndpointID}}/requests")
          .then((response) => response.json())
          .then((data) => this.add(...data.requests));
      },
      data: [],
      add(...items) {
        this.data = [...items, ...this.data];
      },
    });
  });
</script>

<script>
  const socket = new WebSocket("{{.EndpointWebSocketURL}}");

  socket.addEventListener("open", function () {
    console.debug("socket:open");
  });

  socket.addEventListener("close", function () {
    console.debug("socket:close");
  });

  socket.addEventListener("error", function () {
    console.debug("socket:error");
  });

  socket.addEventListener("message", function (payload) {
    console.debug("socket:message");
    const request = JSON.parse(payload.data);
    Alpine.store("requests").add(request);
    console.log(Alpine.store("requests").data);
  });
</script>

<script>
  const sendTestData = async function () {
    await fetch("/to/{{.EndpointID}}", {
      method: "POST",
      body: "Hello, World!",
    });
  };
</script>
