{{template "partials/header" .}}

<main x-data>
  <div class="section">
    <div class="flex items-center">
      <div>Your unique url:</div>
      <div data-test="endpoint-url" class="endpoint select-all ml-2">
        {{.EndpointURL}}
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flex items-center">
      <code data-test="curl-example" class="terminal select-all">
        curl -X POST -d 'Hello, World!' {{.EndpointURL}}
      </code>
      <a
        data-test="curl-send"
        href="javascript:;"
        onclick="sendCurlRequest()"
        class="text-light ml-2"
        >Send</a
      >
    </div>
  </div>

  <div class="section">
    <div class="flex items-center">
      <i>⚠️️️ Requests are deleted after 4 hours</i>
      <a
        data-test="delete-requests"
        href="javascript:;"
        @click="$store.main.deleteRequests()"
        class="text-light ml-2"
        >Delete now</a
      >
    </div>
  </div>

  <!-- Search -->
  <div
    class="search-box section sticky top-0 flex items-center justify-between px-4 py-6"
  >
    <input
      data-test="search-input"
      type="search"
      x-model.debounce="$store.main.search"
      placeholder="Search headers and body..."
      style="margin: 0"
    />

    <div
      data-test="search-results"
      x-text="`${$store.main.requests.length} ${$store.main.requests.length === 1 ? 'result' : 'results'}`"
      class="text-light"
    ></div>
  </div>

  <div data-test="requests">
    <!-- No data -->
    <template x-if="$store.main.requests.length === 0">
      <div class="section">
        Waiting for requests<span id="loading-dots">...</span>
      </div>
    </template>

    <!-- Data -->
    <template x-for="request in $store.main.requests">
      <div
        :id="`request-${request.uuid}`"
        data-test="request"
        class="section border-t pt-6"
      >
        <div class="flex justify-between pb-6">
          <!-- UUID -->
          <div data-test="request-uuid">
            <a
              :href="`#request-${request.uuid}`"
              x-text="request.uuid"
              class="text-light"
            ></a>
          </div>
          <!-- Delete -->
          <div>
            <a
              data-test="delete-request"
              href="javascript:;"
              @click="$store.main.deleteRequest(request.uuid)"
              class="text-light"
              >Delete</a
            >
          </div>
        </div>
        <div class="flex pb-6">
          <!-- Details -->
          <div data-test="request-details" class="w-1/2">
            <div class="table-title">
              <b>Details</b>
            </div>
            <table>
              <tbody>
                <tr>
                  <td>Time</td>
                  <td>
                    <div class="with-tooltip">
                      <div x-text="formatTimeAgo(request.createdAt)"></div>
                      <div
                        x-text="request.createdAt.toLocaleString()"
                        class="tooltip"
                      ></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Client IP</td>
                  <td>
                    <a
                      :href="`https://www.google.com/search?q=${request.ip}+WHOIS`"
                      target="_blank"
                      x-text="request.ip"
                      class="text-light"
                    ></a>
                  </td>
                </tr>
                <tr>
                  <td>Method</td>
                  <td>
                    <div
                      x-text="request.method"
                      class="request-method"
                      :class="request.method.toLowerCase()"
                    ></div>
                  </td>
                </tr>
                <tr>
                  <td>Path</td>
                  <td><div x-text="request.path"></div></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Headers -->
          <div data-test="request-headers" class="w-1/2 pl-8">
            <div class="table-title">
              <b>Headers</b>
            </div>
            <div class="overflow-auto" style="max-height: 250px">
              <table>
                <tbody>
                  <template x-for="[k, v] in Object.entries(request.headers)">
                    <tr>
                      <td>
                        <a
                          :href="`https://www.google.com/search?q=${k}+Header`"
                          target="_blank"
                          x-text="k"
                          class="text-light"
                        ></a>
                      </td>
                      <td>
                        <div x-text="v" style="max-width: 250px"></div>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Body -->
        <div data-test="request-body">
          <b>Body</b>
          <pre x-text="formatBody(request.body)"></pre>
        </div>
      </div>
    </template>
  </div>
</main>

{{template "partials/footer" .}}

<script>
  document.addEventListener("alpine:init", () => {
    Alpine.store("main", {
      init() {
        Alpine.effect(() => {
          this.getRequests();
        });
      },
      search: "",
      requests: [],
      getRequests() {
        return fetch(
          "/api/endpoints/{{.EndpointID}}/requests" + `?search=${this.search}`
        )
          .then((response) => response.json())
          .then((data) => this.setRequests(data.requests))
          .catch((error) => console.error(error));
      },
      setRequests(requests) {
        this.requests = requests
          .map(this.transformRequest)
          .filter((request) => request !== null);
      },
      addRequest(request) {
        const r = this.transformRequest(request);
        if (r === null) {
          return;
        }
        this.requests = [r, ...this.requests];
      },
      deleteRequests() {
        fetch("/api/endpoints/{{.EndpointID}}/requests", {
          method: "DELETE",
        })
          .then(() => (this.requests = []))
          .catch((error) => console.error(error));
      },
      deleteRequest(uuid) {
        fetch("/api/endpoints/{{.EndpointID}}/requests" + `/${uuid}`, {
          method: "DELETE",
        })
          .then(
            () =>
              (this.requests = this.requests.filter(
                (request) => request.uuid !== uuid
              ))
          )
          .catch((error) => console.error(error));
      },
      transformRequest(request) {
        if (
          this.search &&
          !(JSON.stringify(request.headers) + JSON.stringify(request.body))
            .toLowerCase()
            .includes(this.search.toLowerCase())
        ) {
          return null;
        }
        const result = { ...request };
        result.createdAt = new Date(result.createdAt);
        return result;
      },
    });
  });
</script>

<script>
  const socket = new WebSocket("{{.EndpointWebSocketURL}}");

  socket.addEventListener("open", function () {
    console.debug("socket:open");
  });

  socket.addEventListener("close", function () {
    console.debug("socket:close");
  });

  socket.addEventListener("error", function () {
    console.debug("socket:error");
  });

  socket.addEventListener("message", function (payload) {
    console.debug("socket:message");
    const request = JSON.parse(payload.data);
    Alpine.store("main").addRequest(request);
  });
</script>

<script>
  setInterval(function () {
    const loadingDotsElement = document.getElementById("loading-dots");
    if (loadingDotsElement) {
      if (loadingDotsElement.innerText.length < 3) {
        loadingDotsElement.innerText = loadingDotsElement.innerText + ".";
      } else {
        loadingDotsElement.innerText = ".";
      }
    }
  }, 1000);

  const sendCurlRequest = async function () {
    await fetch("/to/{{.EndpointID}}", {
      method: "POST",
      body: "Hello, World!",
      headers: {
        "Httphq-Spoof-Curl": true,
      },
    });
  };
</script>
