<!doctype html>
<html lang="en">
  <head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Generate custom endpoints to capture and inspect HTTP requests."
    />

    <!-- JS -->
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script defer src="index.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    {{embed}}
  </body>
</html>
